<h2 class="headertekst"><%=@serie %></h2>
<br>
<br>
<table style="width:50%" class="center">
  <tr>
    <th rowspan=@lista_episodios.length().to_Str class="text-center"><%= "Temporada "+@temporada %></th>
    <% @lista_episodios.each_pair do |k, v| %>
    <tr><td><%= link_to "Episodio "+@numero_episodio[k].to_s+": "+v, detalle_path(capitulo: k, serie: @serie) %></td></tr>
    <%end%>
  </tr>
  </table>
