// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table, th, td {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.centro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 20%;
}


h2.headertekst {
  text-align: center;
}

